# See http://help.github.com/ignore-files/ for more about ignoring files.

# Build Files #

bin
target
build/
.gradle

# compiled output
/dist
/dist-server
/tmp
/out-tsc
out/
*.class
*.jar
*.war


# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml

mem*.db

README.html

# massariol-ws build
/meuponto-application/build/
/meuponto-application/out/
/meuponto-distribution/build/
/meuponto-distribution/out/
/meuponto-domain/build/
/meuponto-domain/out/
/meuponto-infrastructure/build/
/meuponto-infrastructure/out/

/.project

.metadata
.settings