<mp-ng-datatable-header
buttonTitle="Cadastrar"
brand="Clientes"
placeholder="Pesquisar clientes"
(newRegisterChange)="registerCustomer($event)"
(searchChange)="searchCustomer($event)">
>
</mp-ng-datatable-header>

<ngx-datatable
  class="material fullscreen"
  [columnMode]="'force'"
  [rowHeight]="'auto'"
  [headerHeight]="40"
  [footerHeight]="30"
  [scrollbarV]="false"
  [scrollbarH]="true"
  [rows]="rows"
  [messages]="messages"
  [columns]="columns"
  [externalPaging]="true"
  [loadingIndicator]="isLoading"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='setPage($event)'>
  <ngx-datatable-column name="cnpj">
    <ng-template let-column="column" ngx-datatable-header-template>
      CNPJ
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.cnpj | cnpj}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="corporateName">
    <ng-template let-column="column" ngx-datatable-header-template>
      Razão Social
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.corporateName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="tradeName">
    <ng-template let-column="column" ngx-datatable-header-template>
      Nome Fantasia
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.tradeName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Ações" prop="id" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" >
    <ng-template let-rowIndex="rowIndex" let-id="value" ngx-datatable-cell-template>
      <button mat-button matTooltip="Editar"
              matTooltipPosition="below" (click)="editCustomer(id)"> <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
