<div id="login" fxLayout="row" fxLayoutAlign="start">
  <div fxLayout="column" fxFill>
    <div fxLayout fxFlex>

      <div class="one" fxFlex="80" fxLayoutAlign="center center">

      </div>

      <div [fxLayout]="'column warp'" class="p-15" fxFlex="350px" fxLayoutAlign="center stretch">

        <div class="title" fxLayoutAlign="center center">Portal Meu Ponto</div>

        <form name="loginForm" [fxLayout]="'column'" [formGroup]="loginForm" novalidate>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix >mail</mat-icon>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
              E-mail é obrigatório.
            </mat-error>
            <mat-error
              *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
              Por favor insira um endereço de e-mail válido.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="m-15" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-error>
              Senha é obrigatória.
            </mat-error>
          </mat-form-field>

          <div class="m-15" fxLayout="column"
               fxLayoutAlign="space-between center">
            <mat-checkbox  aria-label="Lembre de mim">
              Lembre de mim
            </mat-checkbox>
            <br/>
            <button mat-button color="primary">Esqueceu a senha?</button>
          </div>

          <button
                  mat-raised-button
                  color="accent" class="m-15"
                  aria-label="LOGIN"
                  (click)="login()"
                  [disabled]="loginForm.invalid">
            Entrar
          </button>

        </form>

      </div>
    </div>
  </div>
</div>
